 body {
    background: url(../images/6.png) no-repeat center;
    height: 100%;
    text-align: center;
} 
h1 {
    border: 4px solid grey;
    background: black;
    color: white;
    max-width: 50%;
    margin: 20px auto;
    padding: 12px 0px 3px 0px;
    font-family: fantasy;
}
.start:hover{
    color: red;
    cursor: pointer;
}
.brothers{
    max-width: 92%;
    max-height: 92%;
}
.center{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 650px;   
} 
.playground{ 
    background-color: rgba(192,192,192,0.7);
    height: 90%;
}
/* .display{

} */